.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: var(--txt);
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    padding-top: 4rem;
    align-items: center;
}

.carte{
    margin: 10px;
    width: 40vw;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 340px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imgProjet{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    z-index: -100;
    transition: 0.25s ease-in-out;   
}

.txtLinkProjet{
    display: block;
    background: rgba(0, 0, 0, 0);
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.txtTitreCarteProjet{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1000;
}

.txtTitreProjet{
    border-bottom: 1px solid var(--txt);
    margin: 0 30%;
    padding: 2rem 0;
    font-size: 4rem;
    color: var(--txt);
}

.container div{
    margin-top: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.2rem;
}

/* Pour le code suivant, j'ai utiliser le lien suivant pour comprendre les selecteurs css pour l'action hover:
https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */
.txtLinkProjet:hover > .imgProjet{
    filter: blur(5px);
    transition: 0.25s ease-in-out;   
    scale: 1.025;
}

.txtLinkProjet:focus .txtTitreCarteProjet{
    color: white;
}

.txtLinkProjet:active .txtTitreCarteProjet{
    color: #35858B;
}

@media (max-width: 1200px){
    .main{
        justify-content: space-evenly;
        height: 118vh;
    }

    .wrapper{
        flex-direction: column;
        padding-top: 0.5rem;
    }

    .carte{
        width: 80%;
        height: 80%;
        max-width: 60vw;
        max-height: 270px;
    }
    
    .container div{
        font-size: 1rem;
    }
    
    .txtTitreProjet{
        font-size: 2rem;
    }

    .txtLinkProjet:hover > .imgProjet{
        filter: none;
        transition: 1.5s step-start;   
    }
}

@media (max-width: 450px){
    .carte{
        max-width: none;
    }
}