.main{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 0 2rem;
}

.txtAPropos{
    width: 40vw;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.2rem;
    color: #323232;
}

.imgLangue{
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
}

.imgHolderLangues{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    background-color: #E6E6E6;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.txtTitreAPropos{
    border-bottom: 1px solid #323232;
    margin-right: 40%;
    font-size: 4rem;
    padding: 1rem 0;
    color: #323232;
}

@media (max-width: 1200px){
    .main{
        flex-direction: column;
        padding-top: 3rem;
        justify-content: center;
        padding: 0 0.5rem;
    }

    .wrapper{
        width: 90%;  
        text-align: center;
        padding: 1rem;
        max-width: 46rem;
    }

    .txtAPropos{
        width: 100%;
        font-size: 1rem;
    }

    .txtTitreAPropos{
        margin: 0 25%;
        font-size: 2rem;
    }

    .imgHolderLangues{
        padding-top: 1rem;
        justify-content: space-around;
    }

    .imgLangue{
        min-width: 34px;
        min-height: 34px;
        max-width: 55px;
        max-height: 55px;
        width: 10vw;
        height: 10vw;
    }
}

@media (max-width: 410px){
    .txtTitreAPropos{
        padding: 1rem 0;
    }
}