.main{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Raleway', sans-serif;
    text-align: left;
    font-size: 20px;
    overflow-x: visible;
    color: var(--txt);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imgProfile{
    width: 22rem;
    border-radius: 50%;
    transform: translateY(9px);
}

.holderProfile{
    border-radius: 50%;
    border: 4px solid var(--bg);
}

.wrapper{
    text-align:center;
    position: relative;
    z-index: -100;
    max-height: 800px;
}

.imgHolderProfile{
    position: absolute;
}

.svgShape{
    margin: 0;
    width:50vw;
    max-width: 45vw;
}

span{
    font-weight: 800;
    color: var(--txtTitre);
}

.txtSalut{
    font-size: 3rem;
}

.txtMoi{
    font-size: 4rem;
    margin: 1rem 0;
}

.txtH2{
    margin-left: 2.5rem;
}

.imgWaving{
    width: 40px;
    height: 40px;
}

/*The following code was taken from this website for the waving animation:
https://codepen.io/jakejarvis/pen/pBZWZw */
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

@media (max-width: 1200px){
    .main{
        flex-direction: column;
        padding: 2rem 0 0 0;
        text-align: center;
        padding-top: 3rem;
    }

    .imgProfile{
        width: 13rem;
        height: 13rem;
    }

    .svgShape{
        height: auto;
        min-width: 375px;
        max-width: 800px;
    }

    .txtH2{
        margin: 0 1rem;
    }

    .txtSalut{
        font-size: 2rem;
    }

    .txtMoi{
        font-size: 3rem;
    }
}