.frmContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.txtField{
    width: 20vw;
    max-width: 14rem;
    border-radius: 3px;
    border: 1px solid black;
    height: 20px;
    margin: 2.5px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.txtMessage{
    width: 35vw;
    max-width: 40rem;
    border-radius: 3px;
    height: 20px;
    border: 1px solid black;
    margin: 2.5px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.btnSubmit{
    border-radius: 50px;
    background-color: white;
    border: 1px solid black;
    color: black;
    margin-left: 15px;
    font-size: 15px;
    height: 25px;
    width: 25px;
    text-align: center;
}

.txtConfirme{
    height: 13px;
}

.containerField{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txtErreur{
    color: red;
    text-align: center;
    font-weight: bold;
}

.chkConfirmer{
    border: 1px solid black;
    margin: 5px;
}

label{
    color: var(--txt);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

input{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.btnSubmit:active{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 1200px){
    .frmContact{
        background-color: #C9D6DF;
        box-shadow: none;
    }
}