.main{
    height: 90vh;
    display: flex;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.container{
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    max-width: 40vw;
}

.wrapper{
    width: 50vw;
    max-width: 40vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F0F5F9;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.txtHolderLinks{
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #35858B;
    border-bottom: 1px solid #323232;
    padding: 0.7rem 0;
    width: 45%;
}

.txtTitreProjet{
    font-size: 45px;
    margin: 0;
}

.imgSlider{
    width: auto;
    height: 420px;
    object-fit: cover;
}

.txtLink{
    text-decoration: none;
    color: #35858B;
    margin: 0 0.5rem;
}

.wrapper p{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.2rem;
}

.txtLink:active{
    color: black;
}

@media (max-width: 1200px){
    .main{
        flex-direction: column;
        padding: 0;
        height: 95vh;
        margin: 3rem 0;
    }

    .container{
        width: 100vw;
        padding: 0;
        max-width: none;
    }
    
    .wrapper{
        width: 90%;  
        text-align: center;
        padding: 1rem;
        max-width: 40rem;
    }
    
    .wrapper p{
        font-size: 1rem;
    }
    
    .imgSlider{
        width: 80%;
        height: 100%;
        max-height: 420px;
    }
}

@media (max-width: 450px){
    .main{
        height: 110vh;
        margin: 0;
    }

    .container{
        max-height: 300px;
    }

    .txtTitreProjet{
        font-size: 2rem;
    }
}