.footer{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    max-height: 8rem;
    min-height: 5rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.imgMedia{
    width: 24px;
    height: 24px;
    margin: 0;
}

.btnIconUp{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.txtLink{
    font-size: 12.5px;
    color: black;
    text-decoration: none;
    margin-top: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 7px;
    padding: 7px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.imgLink{
    margin-left: 8px;
    width: 17px;
    height: 17px;
}

.containerContact{
    display: flex;
}

.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
}

.containerMedia{
    display: flex;
}

.container{
    padding: 0;
    display: flex;
    list-style-type: none;
    column-gap: 0.7rem;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    margin: 0 15px;
    margin-left: 0;
}

.imgIconUp{
    width: 40px;
    height: 40px;
}

.containerLegal{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--txt);
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
}

.containerLegal p{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.txtLink:focus{
    color: black;
}

.txtLink:active{
    color: #35858B;
}

@media (max-width: 1200px){
    .footer{
        padding: 0 1rem;
        justify-content: space-between;
    }

    .containerLegal{
        margin: 0 1rem;
    }

    .containerForm{
        display: none;
    }

    .containerContact{
        padding: 0;
    }
    
    .imgIconUp{
        display: none;
    }
}

@media (max-width: 450px){
    .footer{
        justify-content: center;
        padding: 0;
    }

    .containerContact{
        justify-content: center;
    }
}