/*F0F5F9  C9D6DF*/
.main {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    padding: 0 1rem;
    height: 10vh;
    align-items: center;
    min-height: 7rem;
}

h1{
    font-size: 50px;
}

.txtLinkHeader{
    text-decoration: none;
    height: 6rem;
    color: var(--txt);
    border-bottom: var(--txt) solid 1px;
    margin: 5px 0;
}

.btnLang{
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: solid 2.99px var(--txt);
    border-radius: 50px;
    padding: 4px;
    font-weight: bold;
    margin: 5px 0;
    color: var(--txt);
}

.imgTheme{
    width: 30px;
    height: 30px;
}

.txtLinkTheme{
    margin: 8px 5px 5px 5px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.txtLinkHeader:focus h1{
    color: var(--txt);
}

.txtLinkHeader:active h1{
    color: #35858B;
}

@media (max-width: 1200px){
    .main{
        justify-content: center;
    }

    .container{
        width: auto;
        align-items: center;
        margin: 1rem;
    }

    .txtLinkHeader{
        text-align: center;
        height: auto;
        margin-top: 2rem;
    }

    h1{
        margin: 0;
    }
}

@media (max-width: 450px){
    h1{
        font-size: 2.5rem;
    }
}