.main{
    background: var(--bgGrad);
    height: 200vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
}