.container{
    background-color: #F0F5F9;
    padding: 1.2rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    color: #323232;
}

.listeNav{
    display: flex;
    list-style-type: none;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.txtLinkNav{
    transition: 0.3s ease;
    text-decoration: none;
    color: black;
}

.txtLinkBorder{
    border-right: 1px solid #323232;
}

.txtLinkNav:hover{
    color: #35858B;
}

.txtLinkNav:focus{
    color: var(--txt);
}

@media (max-width: 1200px){
    .container{
        display: none;
    }
    
    .txtLinkNav:hover{
        color: var(--txt);
    }
}