@import-normalize;

body {
  margin: 0;
  position: relative;
}

html{
  background: var(--bgGrad);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}